@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';
@import '_mediaQuery';



// CLASS LEVEL ------------------------------------------------------------------------------------
.mainWrapper {
  align-items: initial;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  width: 100vw;
}
.activationContainer {
  align-items: center;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  & p {
    margin-bottom: 24px;
  }
}
.activationButton {
  line-height: 1;
  cursor: pointer;
  background: #444444;
  padding: 0.65em;
  font-size: 16px;
  display: flex;
  min-width: 120px;
  width: 120px;
  max-width: 160px;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-family: sans-serif;
  color: #FFFFFF;
  font-weight: lighter;
  letter-spacing: 0.025em;
  font-size: 16px;
}
.deviceStatus {
  padding: 12px;
  border: 1px solid red;
  & p {
    text-align: left;
    font-weight: lighter;
  }
  & p + p {
    margin-top: 0;
  }
  .deviceOrientationAccess,
  .userAgent {
    margin-bottom: 0.5em;
  }
  .deviceOrientationAccess,
  .coordinates {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.35;
  }
  .userAgent {
    font-size: 10px;
    font-family: sans-serif;
    line-height: 1.65;
  }
}

.cubeContainer {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 400px;
}
.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}
.cube.show-front {
  transform: translateZ(-100px) rotateY(   0deg);
}
.cube.show-right {
  transform: translateZ(-100px) rotateY( -90deg);
}
.cube.show-back  {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-100px) rotateY(  90deg);
}
.cube.show-top {
  transform: translateZ(-100px) rotateX( -90deg);
}
.cube.show-bottom {
  transform: translateZ(-100px) rotateX(  90deg);
}
.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  line-height: 200px;
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.cube__face--front {
  background: hsla(0, 100%, 50%, 0.8);
}
.cube__face--right {
  background: hsla(60, 100%, 50%, 0.8);
}
.cube__face--back {
  background: hsla(120, 100%, 50%, 0.8);
}
.cube__face--left {
  background: hsla(180, 100%, 50%, 0.8);
}
.cube__face--top {
  background: hsla(240, 100%, 50%, 0.8);
}
.cube__face--bottom {
  background: hsla(300, 100%, 50%, 0.8);
}
.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--top {
  transform: rotateX( 90deg) translateZ(100px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
